.home {
    text-align: center;
    padding-right: 60%;
    padding-top: 8%;
}

.landing-sigil {
    border-radius: 50000px;
    height: 1em;
}

.gif {
    font-family: MedievalSharp;
    background-image: url('../assets/img/Dragonstone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

html {
    padding: 0vh;
    margin: 0;
}

body {
    margin: 0;
}

body.noScroll {
    overflow: hidden;
}

.descriptionBox {
    text-align: center;
    width: 490px;
    font-size: 20px;
    font-weight: 400;
    float: right;
    margin: 0;
    padding: 20px;
}

.about {
    background-color: rgba(238, 68, 68, 0.822);
    /* color: rgba(255, 0, 0, 1); */
    border-radius: 5%;
    font-size: 30px;
    font-weight: bolder;
}