.home {
    text-align: center;
    padding-right: 60%;
    padding-top: 8%;
}

.landing-sigil {
    border-radius: 50000px;
    height: 1em;
}

.gif {
    font-family: MedievalSharp;
    background-image: url('../assets/img/dragons.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

html {
    padding: 0vh;
    margin: 0;
}

body {
    margin: 0;
}

body.noScroll {
    overflow: hidden;
}