.login {
    font-family: MedievalSharp;
    background-image: url('../assets/img/Dragonstone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding-left: 100px;
    padding-top: 50px;
}

body.noScroll {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

body.noScroll {
    overflow: hidden;
}

.welcome {
    font-size: 30px;
}