.login {
    font-family: MedievalSharp;
    background-image: url('../assets/img/Dragonstone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

body.noScroll {
    overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}